body {
    background:rgba(0, 0, 0, 1);
}

.tecla:hover {
    background: rgba(90,90,90, .7);
    color:white;
}

.tecla {
    width:60px;
    height:120px !important;
    background: rgba(255,255,255, 1);
    border:1px solid black !important;    
}